<div class="instructions-box">
  <h4>Instructions</h4>
  <p>Play Rock, Paper, Scissors against an AI opponent! First, start your camera and press Play. 
    When the timer says "Shoot!", hold up either a fist (rock), an open hand (paper), or two pointed fingers (scissors).
  </p>
  <p><b>Play Doubles</b>: You can hold up two rocks, two papers, or two scissors instead of just one to earn <em>double points</em> if you win!
     Note that the opponent can also play doubles (unless this setting is disabled), so this increases the risk as
     well as the reward.</p>
  <p><b>Note</b>: Holding up two fingers will sometimes register as Scissors. Try holding up one finger
    instead since it is more likely to register.
  </p>
  <h4>Other Controls</h4>
  <p><em><b>Pinch</b></em> to toggle autoplay on/off. </p>
  <p>Hold up <em><b>one open hand and one closed hand</b></em> to allow/disable the opponent from playing doubles.</p>
  <p><em><b>Swipe</b></em> your open hand horizontally to reset the score.</p>
</div>