<h1 class="text-center my-4">Rock, Paper, Scissors</h1>

<!-- timer component -->
<app-timer [running]="running" [text]="announceText" (onStart)="start()"></app-timer>

<!-- boxes for player and opponent -->
<!-- show scores and moves -->
<div class="d-flex flex-column p-2 align-items-center">
  <div class="d-flex p-2 justify-content-center">
    <div class="d-flex flex-column p-2 align-items-center">
      <h3>Player Score: <span class="player-color">{{playerScore}}</span></h3>
      <app-handtracker [move]="playerMove" (onPrediction)="prediction($event)"></app-handtracker>
    </div>

    <div class="d-flex flex-column p-2 align-items-center">
      <h3>Opponent Score: <span class="opponent-color">{{opponentScore}}</span></h3>
      <app-opponent [move]="opponentMove"></app-opponent>
    </div>
  </div>

  <!-- setting toggles -->
  <mat-slide-toggle #autoplayToggle [checked]="autoplay" (change)="toggleAutoplay()" color="primary" class="pb-2">
    Autoplay
  </mat-slide-toggle>
  <mat-slide-toggle #opponentDoublesToggle [checked]="opponentDoubles" (change)="toggleOppDoubles()" color="primary">
    Opponent can play doubles
  </mat-slide-toggle>

  <!-- instructions component -->
  <app-instructions></app-instructions>
</div>

<!-- toast popup -->
<lib-ng-toast></lib-ng-toast>